{% extends 'searchApp/base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center my-5">
        <div class="jumbotron p-1 w-50">
            <h1 class="display-4"><strong>ILY</strong>rics</h1>
            <p class="lead text-muted">a minimal lyrics search engine</p>
            <hr class="my-4">
        </div>
    </div>
    <div class="row align-items-center justify-content-center">
        {% include 'searchApp/searchbar.html' %}
    </div>
</div>

{% endblock %}