{% extends 'searchApp/base.html' %}

{% block content %}

<!-- Content -->
<div class="d-flex flex-column justify-content-center mb-3">
    {% if song %}
    <!-- Description -->
    <div class='d-flex align-items-center justify-content-center mb-3'>
        <div class="card w-25">
            <img class="card-img-top" src="{{ song.cover }}" alt="Album Cover">
        </div>

        <div class="jumbotron p-5 w-50">
            <h1 class="display-4">{{ song.title }}</h1>
            <p class="lead">{{ song.artist }}</p>
            <p class="lead text-muted">in {{ song.album }}</p>
            <hr class="my-4">
            <!-- Links -->
            <p>View on <a href="{{ song.url }}"> Genius</a>. Listen on
            
            {% for m in song.media %}
                <a href="{{ m.url }}">{{ m.provider }}</a>
            {% endfor %}
            </p>
        </div>
    </div>
    
    <!-- Lyrics -->
    <div class='d-flex align-items-center justify-content-center mb-3'>
        <div class="card w-75">
            <div class="card-body">
                <p class="card-text">{{ song.lyrics|linebreaks }}</p>
            </div>
        </div>
    </div>
    {% else %}
        <h5>An Error occured, I couldn't find the song you are looking for... Please try again later.</h5>
    {% endif %}
</div>


{% endblock %}